.contact {
  /* background-color: #050397b9; */
  background-color: var(--main-bg-color);
  margin: 0;
  color: rgb(157, 231, 246);
  font-family: "Nevrada";
  font-size: 20px;
}

.contact__header {
  margin: 0;
  font-family: "Nevrada";
  font-size: 50px;
}

.contact__links {
  /* display: flex;
  justify-content: space-between; */
  /* padding-right: 30px; */
}

.contact__link {
  text-decoration: none;
  color: rgb(157, 231, 246);
  margin: 0;
}

.contact__link:hover {
  color: #2f80ed;
  transition: color 0.3s ease-in-out;
}

/* Tablet (Portrait and above, e.g., iPads, smaller devices) */
@media (min-width: 768px) {

  .contact__links {
    display: flex;
    justify-content: space-between;
  }


}

/* Desktop (Laptops and larger screens) */
@media (min-width: 1024px) {

  .contact__header {
    font-size: 120px;
  }
  
  .contact {
    font-size: 40px;
  }
}

/* Wide-screen (Large desktops, wide monitors, etc.) */
@media (min-width: 1440px) {


}