.footer {
  box-sizing: border-box;
  /* background-color: #050397b9; */
  background-color: var(--main-bg-color);
  color: white;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.2;
}

.footer__copyright {
  margin: 0;
  font-family: "Nevrada";
  color: rgb(157, 231, 246);
}

/* Tablet (Portrait and above, e.g., iPads, smaller devices) */
@media (min-width: 768px) {



}

/* Desktop (Laptops and larger screens) */
@media (min-width: 1024px) {

  
}

/* Wide-screen (Large desktops, wide monitors, etc.) */
@media (min-width: 1440px) {


}