.footer {
  box-sizing: border-box;
  background-color: #050397b9;
  color: white;
  padding: 60px 0 60px 20px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.2;
}

.footer__copyright {
  margin: 0;
  font-family: "Nevrada";
  color: rgb(157, 231, 246);
}

@media screen and (max-width: 536px) {
}
