.header {
  display: flex;
  flex-direction: column;
  /* background-color: #050397b9; */
  background-color: var(--main-bg-color);
}

.header__title-big {
  justify-content: flex-start;
  font-family: "Nevrada"; 
  line-height: 0.7;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(157, 231, 246);
  margin-bottom: 30px;
}

.header__subtitle {
  color: rgb(157, 231, 246);
  font-family: "Nevrada";
  line-height: 0.7;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header__tech-list {
  color: rgb(157, 231, 246);
  font-family: "Nevrada";
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  list-style-type: none;
  padding-left: 0;
}

.header__title {
  justify-content: flex-start;
  font-family: "Nevrada";
  line-height: 0.7;
  font-size: 120px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(157, 231, 246);
  transition: color 0.3s ease-in-out;
}

.header__title:hover {
  color: #2f80ed;
  cursor: pointer;
}

/* Tablet (Portrait and above, e.g., iPads, smaller devices) */
@media (min-width: 768px) {
  .header__title-big {
    font-size: 120px;
  }

}

/* Desktop (Laptops and larger screens) */
@media (min-width: 1024px) {
  
}

/* Wide-screen (Large desktops, wide monitors, etc.) */
@media (min-width: 1440px) {


}