.header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #050397b9;
  padding-left: 30px;
}

.header__title {
  justify-content: flex-start;
  max-width: 400px;
  font-family: "Nevrada";
  line-height: 0.7;
  font-size: 100px;
  text-decoration: none;
  color: rgb(157, 231, 246);
}
