.header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 720px;
  max-height: 1000px;
  background-color: #050397b9;
  padding-left: 30px;
}

.header__title {
  justify-content: flex-start;
  max-width: 400px;
  font-family: "Nevrada";
  line-height: 0.7;
  font-size: 120px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(157, 231, 246);
  transition: color 0.3s ease-in-out;
}

.header__title:hover {
  color: #2f80ed;
  cursor: pointer;
}
