.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__links {
  list-style-type: none;
  padding: 0;
}

.nav__link {
  line-height: 0.7;
  font-family: "Nevrada";
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(157, 231, 246);
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

/* Tablet (Portrait and above, e.g., iPads, smaller devices) */
@media (min-width: 768px) {
  .nav__link {
    font-size: 120px;
  }
}

/* Desktop (Laptops and larger screens) */
@media (min-width: 1024px) {
}

/* Wide-screen (Large desktops, wide monitors, etc.) */
@media (min-width: 1440px) {


}
