.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  row-gap: 35px;
  padding: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav__link {
  font-family: "Nevrada";
  font-size: 120px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(157, 231, 246);
  transition: color 0.5s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}
