.page {
  max-width: calc(100%-5px);
  margin: auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Nevrada", Arial, sans-serif;
  background-color: black;
}

@media screen and (max-width: 536px) {
}
