.projects {
  /* height: 100vh; */
  min-height: 720px;
  max-height: 1000px;
  background-color: #050397b9;
  color: rgb(157, 231, 246);
}

.projects__list {
  padding: 300px 0 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 30px 30px;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}
